<mat-card class="garment-card">
    <img [src]="garment.image_link" alt="photo of {{garment.description || garment.name || garment.id}} ">

    <a mat-button color="primary" [routerLink]="['/garments/editor/', garment.id]" routerLinkActive="active"
        ariaCurrentWhenActive="page">
        @if (garment.name) { {{garment.name}} }
        @else { id {{garment.id}} }
    </a>

    <!-- TODO. dates are hard -->
    <!-- @if (garment.last_worn) {<p>last worn {{garment.last_worn.getFullYear()}}-{{garment.last_worn.getMonth()}}-{{garment.last_worn.getDay()}} - {{}} days ago</p>} @else {<p>never worn</p>} -->

    @if (garment.last_worn) {
    <p> Last worn: {{garment.last_worn | date}} </p>
    }
    @else {
    <!-- <p> Updated {{garment.last_worn | date}} </p> -->
    <p> Last worn: never </p>
    }


</mat-card>