<h2>TODO</h2>
<ul>
    <li>depandancy injcetion</li>
    <li>wardrobe - clothes list</li>
    <li>grag and nrop logic</li>
</ul>

<div class="cretor">
    <div class="outfit section">
        <h2>Your outfit</h2>
        <!-- TODO overflow -->
        <div>
            <!-- TODO if none -->
            <p class="empty-label" *ngIf="outfit.length === 0">No clothes. Drad and drop from your wardrobe here</p>

            <mat-card>
                <!-- TODO ngFor -->
                <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem non praesentium sint repellendus odit
                    impedit itaque harum assumenda. Eligendi ea molestias soluta qui, animi libero incidunt facere fugit
                    omnis tempora. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem non praesentium sint
                    repellendus odit impedit itaque harum assumenda. Eligendi ea molestias soluta qui, animi libero
                    incidunt facere fugit omnis tempora. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem
                    non praesentium sint repellendus odit impedit itaque harum assumenda. Eligendi ea molestias soluta
                    qui, animi libero incidunt facere fugit omnis tempora. Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Rem non praesentium sint repellendus odit impedit itaque harum assumenda. Eligendi
                    ea molestias soluta qui, animi libero incidunt facere fugit omnis tempora. Lorem ipsum dolor sit,
                    amet consectetur adipisicing elit. Rem non praesentium sint repellendus odit impedit itaque harum
                    assumenda. Eligendi ea molestias soluta qui, animi libero incidunt facere fugit omnis tempora. </p> -->
            </mat-card>
        </div>
    </div>
    <div class="section">
        <h2>Your wardrobe</h2>
        <!-- TODO overflow -->
        <div>
            <!-- TODO if none -->
            <p class="empty-label" *ngIf="outfit.length === 0">No clothes.
            </p>
            <a routerLink="" class="empty-label" *ngIf="outfit.length === 0">Add your garments</a>
            <mat-card class="wardrobe">
                <!-- TODO ngFor -->
                <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem non praesentium sint repellendus odit
                    impedit itaque harum assumenda. Eligendi ea molestias soluta qui, animi libero incidunt facere fugit
                    omnis tempora. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem non praesentium sint
                    repellendus odit impedit itaque harum assumenda. Eligendi ea molestias soluta qui, animi libero
                    incidunt facere fugit omnis tempora. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem
                    non praesentium sint repellendus odit impedit itaque harum assumenda. Eligendi ea molestias soluta
                    qui, animi libero incidunt facere fugit omnis tempora. Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Rem non praesentium sint repellendus odit impedit itaque harum assumenda. Eligendi
                    ea molestias soluta qui, animi libero incidunt facere fugit omnis tempora. Lorem ipsum dolor sit,
                    amet consectetur adipisicing elit. Rem non praesentium sint repellendus odit impedit itaque harum
                    assumenda. Eligendi ea molestias soluta qui, animi libero incidunt facere fugit omnis tempora. </p> -->
            </mat-card>
        </div>
    </div>
</div>