.profile {
    margin: 2rem 4rem;
}

.user {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.userimg {
    width: 12rem;
    height: 16rem;
    object-fit: cover;
}

.about {
    width: 24rem;
    h1 {
        font-size: 2rem;
        width: inherit;
    }
    p{
        width: inherit;

    }
    .buttons {
        width: inherit;
        display: flex;
        gap: 1rem;
    }
}

.content{
    max-width: 96rem;
    margin: auto;
}

mat-card{
    padding: 1rem;
    margin: 1rem;

    mat-tab{
        padding: 1rem;
        
    }
}

.outfits{
    padding: 2rem;
    display: flex;
    gap: 1rem;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.garments {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}