h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search {
    margin: 2rem;
    padding: 2rem;
}

.profile-img {
    margin: 1rem 0rem;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 1rem;
    width: 100%;
}

td,
th {
    flex: 1;
}
