.top {
    margin-top: 1em;
    display: flex;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 2em;
    }
}


.outfits{
    padding: 2em;
    display: flex;
    gap: 1em;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
}
