.garment-details {
    height: 100%;
    display: flex;

    img,
    .right {
        flex: 1;
        width: 50%;
    }

    img {
        object-fit: cover;
    }
}

.file-label{
    cursor: pointer;
}

.right {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.right-top,
.right-bottom {
    flex: 1;
}

.right-top{
    display: flex;
    flex-direction: column;

    .buttons{
        display: flex;
        gap: 1rem;
    }
}

.right-bottom {
    overflow-y: auto;
}

.outfits {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1rem;
}

h3 {
    font-size: 2rem;
}