.garment-details {
    height: 100%;
    display: flex;

    img,
    .right {
        flex: 1;
    }

    img {
        object-fit: cover;
    }
}

.right {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.right-top,
.right-bottom {
    flex: 1;
}

.right-bottom {
    overflow-y: auto;
}

.outfits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.temp {
    margin: 10px;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 1em;
}

h3 {
    font-size: 2em;
}