<div class="garment-details">
    <img [src]="garment?.img" alt="photo of {{garment?.name}}">

    <div class="right">

        <div class="right-top">
            <h2>{{garment?.name}}</h2>
            <p>{{garment?.type}}</p>
            <p>Last worn at {{garment?.date?.getDate()}}-{{garment?.date?.getMonth()}}-{{garment?.date?.getFullYear()}}
            </p>
        </div>
        <!-- moove to right-bottom div or something like that -->
        <h3>Used in these outfits:</h3>

        <mat-card class="right-bottom">
            <div class="outfits">
                <!-- getWhereGarment -->
                <app-outfit *ngFor="let outfitItem of outfitList" [outfit]="outfitItem" ></app-outfit>
            </div>
        </mat-card>
    </div>

</div>