.top {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .actions {
        width: 50%;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        mat-form-field {
            width: 60%;
        }
    }

    h2 {
        text-align: center;
        font-size: 2rem;
    }
}

.garments {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}