h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}

.garments {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}