<div class="outfit">
    <p>[if has img show it only]</p>
    <img [src]="outfit.img" alt="photo of {{outfit.name}}">
    <p>[else clothes grid]</p>
    <p>garments [TODO grid] - {{outfit.garments}}</p>
    
    <!-- <p>[info?]</p>
    <p>id - {{outfit.id}}</p>
    <p>type - {{outfit.type}}</p>
    <p>date - {{outfit.date}}</p>
    <a mat-button color="primary" [routerLink]="['/outfit/', outfit.id]" routerLinkActive="active"
        ariaCurrentWhenActive="page">
        {{outfit.name}}
    </a> -->
    <p>
</div>