.garment {
    width: 12rem;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 14rem;
        border-radius: inherit;
        object-fit: cover;
    }

    a {
        width: 100%;
    }
}