.garment {
    width: 12em;
    height: auto;
    
    margin-right: 1em;
    margin-bottom: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 14em;
        border-radius: inherit;
        object-fit: cover;
    }

    a {
        width: 100%;
    }
}