.garment {
    width: fit-content;
    height: fit-content;
    margin-right: 1em;
    margin-bottom: 1em;

    img {
        height: 12em;
        max-width: 10em;
    }

    h3 {
        font-weight: bolder;
    }
}